{% extends 'base.html' %}

{% block tittle %}
<h1>Acerca de Mi Gestor de Películas</h1>
<h2>Conocé más sobre esta aplicación y su creador</h2>
{% endblock %}

{% block content %}
<div class="container px-5 text-black text-center" style="margin-top: 50px;">
    <p class="lead mb-4">
        ¡Hola! Soy Cris, tengo 25 años, soy estudiante de economía y como recomendación de gente conocida y de mis profesores, quise intentar aprender programación. Además de que siempre me gustó la teconología y las computadoras, entonces es algo que hace mucho quería aprender, pero siempre posponía. La verdad que estoy muy satisfecho con el transcurso de la cursada, y lo mucho que avance y aprend+i, teniendo en cuenta que empecé con 0 conocimiento, practicamente.
    </p>

    <p class="lead mb-4">
        Esta aplicación nació como un proyecto con la idea de compartirla con mis amigos para que podamos agregar películas y series que vimos o quisieramos ver, buscar fácilmente contenido y gestionar el perfil de cada uno.
    </p>

   

    <p class="lead mb-4">
        
    </p>
</div>
{% endblock %}

